.element {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  min-height: 361px;
  width: 282px;
  border-radius: 10px;
  background-color: #FFF;
  overflow: hidden;
}
